*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
    line-height: 2;
  }
  
  body {
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight:100px;
    font-style: normal;
    background-color: #FFFFFF;
    margin-top: 250px;
  }

.container{
    margin: 0 auto;
    border: 2px solid chocolate;
    width: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: brown;
    padding: 10px 1px;
}
.cases{
    border: 6px solid whitesmoke;
    padding: 10px 17px;
    align-items: center;
    cursor: pointer;
    font-size: 40px;
}
